@import './colors';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: row;
}

.left-side {
    flex: 2;
    background-image: url(../resources/kenny-s-7qRM11Kmnh4-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;

    & .title {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        background: #CCD5AE95;
        height: 100px;
        margin-top: 30vh;
        font-size: 2rem;
        color: $main-letters;
    }
}

.right-side {
    flex: 3;
    background: $background;
    color: $main-letters;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    flex-wrap: wrap;

    & .intro,
    .input-section,
    & .button-container {
        padding-left: 8%;
        padding-right: 8%;
    }

    & .intro {
        font-size: 1.8rem;
        font-weight: bold;

        & :nth-child(3) {
            margin: 15px 0;
        }
    }
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .input-section {
        background: $deep-dark;
        width: 100%;
        padding-top: 3%;
        padding-bottom: 3%;
        display: flex;
        flex-direction: column;
        gap: 13px;
        box-shadow: 0 7px 15px -3px black;

        .form-row {
            display: flex;
            gap: 40px;


            .input {
                display: flex;
                flex-direction: column;
                width: 300px;

                input {
                    border-radius: 5px;
                    height: 30px;

                    &:focus {
                        outline: none;
                        border: 1px solid cyan;
                    }

                    &:invalid {
                        border: 1px solid red;
                    }

                    &:valid {
                        border: 1px solid lightgreen;
                    }
                }

                label {
                    font-size: 1.6rem;
                }

                .error-msg {
                    color: rgb(250, 100, 0);
                    opacity: 0;
                }

                div.error-msg.show-error {
                    opacity: 1;
                }
            }
        }
    }

    & button {
        background-color: $light-accents;
        padding: 8px;
        border-radius: 8px;
        font-size: 1.7rem;
        border: none;
    }

}

.main-logo {
    height: 75px;
}