@import './colors';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: row;
}

.left-side {
    flex: 1;
    background-image: url(../resources/kenny-s-7qRM11Kmnh4-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;

    & .title {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        background: #CCD5AE75;
        height: 100px;
        margin-top: 30vh;
        font-size: 2rem;
        color: $main-letters;
    }
}

.right-side {
    flex: 2;
    background: $background;
    color: $main-letters;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    flex-wrap: wrap;

    & .intro,
    .input-section,
    & .button-container {
        padding-left: 8%;
        padding-right: 8%;
    }

    & .intro {
        font-size: 1.8rem;
        font-weight: bold;

        & :nth-child(3) {
            margin: 15px 0;
        }
    }
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .input-section {
        background: $dark-accents;
        width: 100%;
        padding-top: 3%;
        padding-bottom: 3%;
        display: flex;
        flex-direction: column;
        gap: 13px;

        .form-row {
            display: flex;
            gap: 40px;


            .input {
                display: flex;
                flex-direction: column;
                width: 300px;

                input {
                    border-radius: 5px;
                }
            }
        }
    }

}

.main-logo {
    height: 75px;
}